<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standart">
        <route id="test_test" frontName="test_test">
            <module name="Training_Test" />
        </route>
        <route id="test" frontName="test">
            <module name="Training_Test"/>
        </route>
    </router>
</config>